/*color: #189bc1, rgb(24,155,193)*/


/*---DEFAULT STYLES---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Quicksand', 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*---REUSABLE COMPONENTS---*/




/*---header---*/

header {
    background-color: rgba(162, 157, 157, 0.53);
    padding: 30px;
}

img {
    height: 4.9%;
    width: 4.9%;
}